USE [DB_RAFAEL_MENDONCA]

GO
/****** Object:  StoredProcedure [dbo].[PROC_ALTUALIZAR_TB_CLIENTES]    Script Date: 27/12/2018 19:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_ALTUALIZAR_TB_CLIENTES] @ID_CLIENTE INT, @NOME VARCHAR(20), @RG VARCHAR(20), @CPF VARCHAR(20), @DATA_NASCIMENTO DATE,
@SEXO CHAR(1), @ESTADO_CIVIL VARCHAR(20), @DDD_RES CHAR(2), @TELEFONE_RES VARCHAR(20), @DDD_COM CHAR(2), @TELEFONE_COM VARCHAR(20),
@DDD_CEL CHAR(2), @CELULAR VARCHAR(20), @CIDADE VARCHAR(50), @ESTADO VARCHAR(2), @CEP VARCHAR(15), @ENDERECO VARCHAR(50),
@ENDERECO_NUMERO VARCHAR(20), @COMPLEMENTO VARCHAR(50), @BAIRRO VARCHAR(30), @EMAIL VARCHAR(50), @OBSERVACOES NVARCHAR(1000) 

AS 

BEGIN 

UPDATE TB_CLIENTES SET NOME=@NOME, RG=@RG, CPF=@CPF, DATA_NASCIMENTO = @DATA_NASCIMENTO, 
SEXO=@SEXO, ESTADO_CIVIL=@ESTADO_CIVIL, CIDADE=@CIDADE, ESTADO=@ESTADO, CEP=@CEP, ENDERECO=@ENDERECO, ENDERECO_NUMERO=@ENDERECO_NUMERO,
COMPLEMENTO=@COMPLEMENTO, BAIRRO=@BAIRRO, EMAIL=@EMAIL, DATA_ALTERACAO = GETDATE(), OBSERVACOES=@OBSERVACOES
WHERE ID_CLIENTE = @ID_CLIENTE


IF @TELEFONE_RES <> ''

BEGIN

UPDATE TB_CLIENTES_TEL SET DDD_RES=@DDD_RES, TELEFONE=@TELEFONE_RES  WHERE ID_CLIENTE=@ID_CLIENTE AND ID_TELEFONE = 1

END

IF @TELEFONE_COM <> ''

BEGIN

UPDATE TB_CLIENTES_TEL SET DDD_COM=@DDD_COM, TELEFONE=@TELEFONE_COM WHERE ID_CLIENTE=@ID_CLIENTE AND ID_TELEFONE = 2

END

IF @CELULAR <> ''


BEGIN

UPDATE TB_CLIENTES_TEL SET DDD_CEL=@DDD_CEL, TELEFONE=@CELULAR WHERE ID_CLIENTE=@ID_CLIENTE AND ID_TELEFONE = 3

END


END


 





GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETAR_TB_CLIENTES]    Script Date: 27/12/2018 19:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_DELETAR_TB_CLIENTES] @ID_CLIENTE INT

AS 

BEGIN

DELETE FROM TB_CLIENTES_TEL WHERE ID_CLIENTE = @ID_CLIENTE

DELETE FROM TB_CLIENTES WHERE ID_CLIENTE = @ID_CLIENTE

END

GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERIR_TB_CLIENTES]    Script Date: 27/12/2018 19:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_INSERIR_TB_CLIENTES] @NOME VARCHAR(20), @RG VARCHAR(20), @CPF VARCHAR(20), @DATA_NASCIMENTO DATE,
@SEXO CHAR(1), @ESTADO_CIVIL VARCHAR(20), @DDD_RES CHAR(2), @TELEFONE_RES VARCHAR(20), @DDD_COM CHAR(2), @TELEFONE_COM VARCHAR(20),
@DDD_CEL CHAR(2), @CELULAR VARCHAR(20), @CIDADE VARCHAR(50), @ESTADO VARCHAR(2), @CEP VARCHAR(15), @ENDERECO VARCHAR(50),
@ENDERECO_NUMERO VARCHAR(20), @COMPLEMENTO VARCHAR(50), @BAIRRO VARCHAR(30), @EMAIL VARCHAR(50), @OBSERVACOES NVARCHAR(1000)

AS

DECLARE @ID_CLIENTE INT

BEGIN

INSERT INTO TB_CLIENTES ([NOME],[RG],[CPF],[SEXO],[ESTADO_CIVIL],[ENDERECO],[ENDERECO_NUMERO],[COMPLEMENTO],[BAIRRO],
[CEP],[CIDADE],[ESTADO],[DATA_NASCIMENTO],[EMAIL],[DATA_CADASTRO],[DATA_ALTERACAO],[OBSERVACOES])

VALUES (@NOME, @RG, @CPF, @SEXO, @ESTADO_CIVIL, @ENDERECO, @ENDERECO_NUMERO, @COMPLEMENTO, @BAIRRO, @CEP, @CIDADE, @ESTADO,
@DATA_NASCIMENTO, @EMAIL, GETDATE(), NULL, @OBSERVACOES)

SET @ID_CLIENTE = (select Max(ID_CLIENTE) FROM TB_CLIENTES)

IF @TELEFONE_RES <> ''

BEGIN

INSERT INTO TB_CLIENTES_TEL VALUES(1, @ID_CLIENTE, @DDD_RES,'','', @TELEFONE_RES)  

END

IF @TELEFONE_COM <> ''

BEGIN

INSERT INTO TB_CLIENTES_TEL VALUES(2, @ID_CLIENTE,'', @DDD_COM,'', @TELEFONE_COM)  

END

IF @CELULAR <> ''

BEGIN

INSERT INTO TB_CLIENTES_TEL VALUES(3, @ID_CLIENTE,'','',@DDD_CEL, @CELULAR)  

END

END
GO
/****** Object:  StoredProcedure [dbo].[PROC_LISTAR_CLIENTES_TB_CLIENTES]    Script Date: 27/12/2018 19:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_LISTAR_CLIENTES_TB_CLIENTES] 

AS

BEGIN

SELECT DISTINCT 
A.ID_CLIENTE,
A.NOME, A.RG, A.CPF, CONVERT(varchar(30), A.DATA_NASCIMENTO, 103) DATA_NASCIMENTO, A.SEXO, A.ESTADO_CIVIL,
(select D.DDD_RES FROM TB_CLIENTES_TEL D WHERE D.ID_CLIENTE = A.ID_CLIENTE AND ID_TELEFONE = 1) DDD_RES,
(select D.TELEFONE FROM TB_CLIENTES_TEL D WHERE D.ID_CLIENTE = A.ID_CLIENTE AND ID_TELEFONE = 1) TELEFONE_RES,
(select D.DDD_COM FROM TB_CLIENTES_TEL D WHERE D.ID_CLIENTE = A.ID_CLIENTE AND ID_TELEFONE = 2) DDD_COM,
(select D.TELEFONE FROM TB_CLIENTES_TEL D WHERE D.ID_CLIENTE = A.ID_CLIENTE AND ID_TELEFONE = 2) TELEFONE_COM,
(select D.DDD_CEL FROM TB_CLIENTES_TEL D WHERE D.ID_CLIENTE = A.ID_CLIENTE AND ID_TELEFONE = 3) DDD_CEL,
(select D.TELEFONE FROM TB_CLIENTES_TEL D WHERE D.ID_CLIENTE = A.ID_CLIENTE AND ID_TELEFONE = 3) CELULAR, 
A.CIDADE, A.ESTADO, A.CEP, A.ENDERECO, A.ENDERECO_NUMERO,
A.COMPLEMENTO, A.BAIRRO, A.EMAIL, A.DATA_CADASTRO, A.DATA_ALTERACAO, A.OBSERVACOES 
FROM TB_CLIENTES A 
INNER JOIN TB_CLIENTES_TEL B
ON A.ID_CLIENTE = B.ID_CLIENTE
INNER JOIN TB_TIPO_TELEFONES C
ON B.ID_TELEFONE = C.ID_TELEFONE

END


GO
/****** Object:  Table [dbo].[TB_CLIENTES]    Script Date: 27/12/2018 19:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_CLIENTES](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](20) NOT NULL,
	[RG] [varchar](20) NOT NULL,
	[CPF] [varchar](20) NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[ESTADO_CIVIL] [varchar](20) NOT NULL,
	[ENDERECO] [varchar](50) NOT NULL,
	[ENDERECO_NUMERO] [varchar](20) NOT NULL,
	[COMPLEMENTO] [varchar](50) NOT NULL,
	[BAIRRO] [varchar](30) NOT NULL,
	[CEP] [varchar](15) NOT NULL,
	[CIDADE] [varchar](50) NOT NULL,
	[ESTADO] [varchar](2) NOT NULL,
	[DATA_NASCIMENTO] [datetime] NOT NULL,
	[EMAIL] [varchar](50) NULL,
	[DATA_CADASTRO] [datetime] NOT NULL,
	[DATA_ALTERACAO] [datetime] NULL,
	[OBSERVACOES] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_CLIENTES_TEL]    27/12/2018 19:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_CLIENTES_TEL](
	[ID_TELEFONE] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[DDD_RES] [varchar](2) NULL,
	[DDD_COM] [varchar](2) NULL,
	[DDD_CEL] [varchar](2) NULL,
	[TELEFONE] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_TIPO_TELEFONES]    27/12/2018 19:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TIPO_TELEFONES](
	[ID_TELEFONE] [int] NOT NULL,
	[TIPO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TB_TIPO_TELEFONES] PRIMARY KEY CLUSTERED 
(
	[ID_TELEFONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TB_CLIENTES_TEL]  WITH CHECK ADD  CONSTRAINT [FK01_TB_CLIENTES_TEL] FOREIGN KEY([ID_TELEFONE])
REFERENCES [dbo].[TB_TIPO_TELEFONES] ([ID_TELEFONE])
GO
ALTER TABLE [dbo].[TB_CLIENTES_TEL] CHECK CONSTRAINT [FK01_TB_CLIENTES_TEL]
GO
ALTER TABLE [dbo].[TB_CLIENTES_TEL]  WITH CHECK ADD  CONSTRAINT [FK02_TB_CLIENTES_TEL] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[TB_CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[TB_CLIENTES_TEL] CHECK CONSTRAINT [FK02_TB_CLIENTES_TEL]
GO

INSERT INTO TB_TIPO_TELEFONES VALUES(1,'RESIDENCIAL');
INSERT INTO TB_TIPO_TELEFONES VALUES(2,'COMERCIAL');
INSERT INTO TB_TIPO_TELEFONES VALUES(3,'CELULAR');